@page
@model WebApplication1.Pages.Test.Really.CoolModel
@{
}

<h1>Razoor Page Routing is Coooal</h1>

<p>Name = @Model.Name</p>

<p>Request.Path = @Model.Request.Path</p>

@foreach(var kvp in Model.Request.Query)
{
    <li>@kvp.Key = @kvp.Value</li>
}